<div class="dropdown-container" [class]="validationClass">
  <button
    class="dropdown-trigger"
    [class.has-value]="value !== undefined"
    [disabled]="isDisabled"
    (click)="toggleDropdown()"
    type="button"
  >
    {{ displayValue }}
  </button>

  <ul *ngIf="isOpen" class="dropdown-options">
    <li
      *ngFor="let option of options; let i = index"
      class="dropdown-option"
      [class.selected]="isSelected(option)"
      (click)="selectOption(option)"
    >
      {{ option }}
    </li>
  </ul>
</div>
