<div class="template-renderer">
  <ng-container *ngFor="let part of templateParts">
    <!-- Render HTML content -->
    <span [innerHTML]="part.htmlContent"></span>

    <!-- Render dropdown if not the last part -->
    <app-dropdown
      *ngIf="!part.isLastPart && part.dropdownConfig && part.dropdownIndex !== undefined"
      [value]="getDropdownValue(part.dropdownIndex)"
      [options]="part.dropdownConfig.options"
      [placeholder]="part.dropdownConfig.placeholder || '?'"
      [isDisabled]="isDisabled"
      [validationState]="getValidationState(part.dropdownIndex)"
      (valueChange)="onDropdownChange($event, part.dropdownIndex)"
    ></app-dropdown>
  </ng-container>
</div>
